.col {
    margin-left: 50px;
    margin-top: 20px;
    background: #990AE3;
    width: 200px;
    height: 30px;
    font-family: Inconsolata;
    border-radius: 45px;
    text-align: center;
    padding-top: 8px;
    display: inline-block; 
    color: white; 
     white-space: nowrap;
     

 }

 .col:hover{
     opacity: 0.7;
 }
 .col1{
     display: inline-block;
     width: 200px;
     height: 30px; 
     border-radius: 45px;
     text-align: center;
     padding-top: 8px;
     color: white;
     background: #990AE3;
    margin-left: 50%;
    font-family: Inconsolata;
 }

 .col1:hover{
     opacity: 0.7;
 }

 .working {
    font-family: Inconsolata;
    font-size: 90px;
    margin-left: 30%;
    margin-top: 15%;
    display: inline;
 }
 .loader {
     margin-top: 15%;
     display: inline-block;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #990AE3;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }